In [3]:
import numpy as np
import pandas as pd

import pecanpy

In [4]:
# define KAPSARC user credentials
USER_NAME = "INSERT_USERNAME"
PASSWORD = "INSERT_PASSWORD"

# create the engine that connects to the database...
local_engine = pecanpy.create_local_engine(USER_NAME, PASSWORD)

# Survey data from 2013

In [174]:
with local_engine.connect() as con:
    survey_2013_field_descriptions = pecanpy.read_survey_2013_field_descriptions_table(con, schema="research") 
    survey_2013_all_participants = pecanpy.read_survey_2013_all_participants_table(con, schema="research")

In [176]:
survey_2013_all_participants.head()

,dataid,primary_residence,number_floors,year_moved_into_house,month_moved_into_house,year_house_constructed,house_num_rooms,house_square_feet,spend_time_at_home_none,spend_time_at_home_monday,...,light_bulbs_fluorescent,typical_bulb_lamps,typical_bulb_fans,electronic_devices_cable_box_number,electronic_devices_dvr_number,electronic_devices_wifi_number,electronic_devices_game_system_number,electronic_devices_on_other,foundation,programmable_thermostat_difficulty
0,8544,True,1,2012,November,1930,4,1820.0,False,False,...,False,Incandescent,CFL,4.0,4.0,1,2.0,NaN,Pier and beam,Easy
1,3652,True,1,2010,NaN,1973,9,2700.0,False,True,...,False,LED,LED,NaN,NaN,1,1.0,NaN,Slab,Easy
2,3736,True,1,1972,NaN,1968,6,1800.0,False,True,...,False,Incandescent,None,0.0,0.0,1,NaN,0.0,Slab,Easy
3,3736,True,1,1972,NaN,1969,5,1800.0,False,True,...,False,Incandescent,CFL,1.0,1.0,1,NaN,NaN,Slab,Easy
4,8626,True,2,2011,September,2011,12,3500.0,False,True,...,True,CFL,LED,2.0,1.0,1,1.0,NaN,Slab,Moderately difficult

# Survey data from 2014

In [392]:
with local_engine.connect() as con:
    survey_2014_all_participants = pecanpy.read_survey_2014_all_participants_table(con, "public")

In [393]:
survey_2014_all_participants.head()

,dataid,status,spend_time_at_home_none,spend_time_at_home_monday,spend_time_at_home_tuesday,spend_time_at_home_wednesday,spend_time_at_home_thursday,spend_time_at_home_friday,ethnicity_asian_pacific_islander,ethnicity_black_african_american,...,temp_winter_sleeping_hours_hours,temp_winter_weekend_hours,programmable_thermostat_currently_programmed,programmable_thermostat_difficulty,ac_service_package,electronic_devices_cable_box_number,electronic_devices_dvr_number,electronic_devices_wifi_number,electronic_devices_game_system_number,foundation
0,9775,Complete,True,False,False,False,False,False,False,False,...,NaN,NaN,False,Moderately difficult,None,1.0,1.0,1,NaN,Slab
1,8544,Complete,False,True,True,True,True,True,False,False,...,70.0,74.0,True,Easy,False,4.0,1.0,1,2.0,Pier and beam
2,298,Complete,True,False,False,False,False,False,False,False,...,NaN,NaN,False,Easy,False,NaN,NaN,1,NaN,Slab
3,3736,Complete,False,True,True,True,True,True,False,False,...,65.0,68.0,True,Easy,True,1.0,1.0,1,NaN,Slab
4,8626,Complete,False,True,False,False,False,False,True,False,...,71.0,70.0,False,Very difficult,False,2.0,1.0,2,1.0,Slab